.#root {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto;
}
.errors {
  margin: 1rem;
}

p {
  color: red;
  font-style: oblique;

  padding: 1rem;
}
form {
  position: fixed;
  bottom: 0;
  margin: 2rem;
}

input {
  height: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 700px;
}

button {
  padding: 1rem 2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}
